html, body {
    height: 100%;
    margin: 0;
}

.sidebar-container-parent {
    margin-top: 50px;
}

.sidebar-container-button {
    /*position: relative;*/ /*breaks transition*/
    /*z-index: 999;*/
}

.map-container-parent {
    min-height: 100%;
    min-width: 100%;
}